/* app-content가 화면 전체의 남은 높이를 꽉 채우도록 설정 */
.app-content {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.survey-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 24px;
}
.survey-title{
    color: #9A9A9A;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Noto Sans KR',serif;
}
.survey-pagenum{
    color: #6B9E7A;
    font-weight: 700;
    font-size: 13px;
    font-family: 'Noto Sans KR',serif;
}
.survey-progress{
    background-color: #E8E0D8;
    width: calc(100% - 48px);
    height: 6px;
    border-radius: 99px;
    margin : -16px auto 32px auto;

}
.survey-progressbar{
    background-color:#6B9E7A;
    height: 100%;
    width: 20%;
    border-radius: 99px;

    /* 바가 차오를 때 부드럽게 움직이는 효과 */
    transition: width 0.3s ease;
}
.survey-container{
    display: flex;
    flex-direction: column;

    padding: 0 24px; /* 양옆 24px 동일한 여백 적용 */
    box-sizing: border-box;

    flex: 1;
}

.survey-questionnum{
    color: #6B9E7A;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Noto Sans KR',serif;
    margin-bottom: 8px;
}
.survey-questitle{
    width: 100%;
    height: auto; 
    font-weight: 800;
    font-size: 20px;
    font-family: 'Noto Sans KR',serif;
    color: #2D2D2D;
    margin-bottom: 30px;
    word-break: keep-all; /* 단어 단위로 줄바꿈 되게 설정 */
}
.survey-options{
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    
    

}
.survey-optionitem{
    width: 100%; /* 고정 크기 337px 삭제 */
    height: 81px;
    display: flex;
    align-items: center;
    border: 2px solid #E8E0D8;
    border-radius: 16px;
    background-color: #fff;
    cursor: pointer;
    
    /* 버튼을 눌렀을 때 배경/테두리 색이 부드럽게 채워짐 */
    transition: all 0.3s ease;
}
.survey-optionitem input[type="radio"]{
    display: none;

}
.survey-newradio{
    width: 22px;
    height: 22px;
    border: 2px solid #E8E0D8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
    margin-right: 12px;

    transition: all 0.3s ease;

}
.survey-newradio .survey-checked{
    display: none;
    width: 11px;
    height: 11px;
}
.survey-optionitem:has(input[type="radio"]:checked){
    border: 2px solid #6B9E7A;
    background-color: #EDF5EF;

}
.survey-optionitem input[type="radio"]:checked + .survey-newradio{
    border: 2px solid #6B9E7A;
    background-color: #6B9E7A;
}
.survey-optionitem input[type="radio"]:checked + .survey-newradio .survey-checked {
    
    display: block
}
.survey-optionitem input[type="radio"]:checked ~ .survey-option {
    color: #6B9E7A;
    font-weight: 700;
}
.survey-option{
    color: #2D2D2D;
    font-weight: 400;
    font-size: 15px;
    font-family: 'Noto Sans KR',serif;

    padding-right: 20px;

}

.survey-nav{
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 100%;

    margin-top: auto;
    margin-bottom: 40px;
}
.prev-btn{
    flex: 1; /* 남은 공간을 1 비율로 차지 */
    width: 119.66px;
    height: 58px;
    border: 1.5px solid #E8E0D8;
    border-radius: 14px;
    background-color: #fff;
    color:#6B6B6B;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Noto Sans KR',serif;

    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.prev-btn:hover {
    transform: scale(1.03);
}
.next-btn{
    flex: 1.7; /* 다음 버튼이 조금 더 길게(1.7 비율) 차지 */
    height: 58px;
    border-radius: 14px;
    background-color: #6B9E7A;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Noto Sans KR',serif;

    transition: background-color 0.3s ease;
    transition: transform 0.2s ease, background-color 0.3s ease;
}
/* 비활성화 상태가 아닐 때만 마우스 호버 시 3% 커짐 */
.next-btn:not(:disabled):hover {
    transform: scale(1.03);
}

.next-btn:disabled {
    background-color: #C5D6CA;
    cursor: not-allowed;
}


/* survey result page */
.result-header{
    display: flex;
    flex-direction: column;
}
.result-title{
    color: #9A9A9A;
    font-weight: 400;
    font-size: 13px;
    font-family: 'Noto Sans KR', serif;
    margin-bottom: 4px;
    text-align: center;
}
.result-subtitle{
    color: #2D2D2D;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Noto Sans KR', serif;
    margin-bottom: 24px;
    text-align: center;
}
.result-container{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.result-card{
    width: 337px;
    height: 382px;
    background-color: #FFFFFF;
    border-radius: 26px;
    padding: auto 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
}
.result-icon{
    background-color: #EDF5EF;
    width: 76px;
    height: 76px;
    border-radius: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    margin-top: 28px;
}
.result-name{
    color: #6B9E7A;
    font-weight: 900;
    font-size: 30px;
    font-family: 'Noto Sans KR', serif;
    margin-bottom: 4px;
    text-align: center;

}
.result-subname{
    color: #9A9A9A;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Noto Sans KR', serif;
    margin-bottom: 20px;
    text-align: center;
}
.result-info{
    width: 289px;
    height: 130px;
    border-radius: 16px;
    background-color: #EDF5EF;
    color: #6B6B6B;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Noto Sans KR', serif;
    list-style: none;
}
.result-infogroup{
    width: 255px;
    height: 98px;
    margin-top: 16px;
}
.result-info li{
    font-weight: 400;
    font-size: 12px;
    font-family: 'Noto Sans KR', serif;
    padding-left: 18px;
    line-height: 24.5px;
    color: #6B6B6B;
    text-align: left;
    position: relative;

}

.result-types{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 24px;
}

.result-types h3{
    color: #6B9E7A;
    font-weight: 700;
    font-size: 12px;
    font-family: 'Noto Sans KR', serif;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 12px;
}

.result-types p{
    color: #9A9A9A;
    font-weight: 400;
    font-size: 11px;
    font-family: 'Noto Sans KR', serif;
    text-align: center;
}

.result-honlan , .result-jukeong , .result-jaedoyak{
    border: 2px solid #E8E0D8;
    width: 105.67px;
    height: 81px;
    background-color: #FFFFFF;
    border-radius: 14px;
}
.result-types > div.active{
    border: 2px solid #6B9E7A;
    background-color: #EDF5EF;
}

.result-types > div.active h3 {
    color: #6B9E7A;
    font-weight: normal;
}

.result-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-btn{
    width: 337px;
    height: 56px;
    background-color: #6B9E7A;
    border-radius: 14px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Noto Sans KR', serif;
    text-align: center;
    margin-bottom: 14px;
}
.retry-btn{
    border: 1px #D8CFC6;
    width: 92px;
    height: 21px;
    color: #9A9A9A;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Noto Sans KR', serif;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 40px;
}


.result-notice{
    color: #C5C5C5;
    font-weight: 500;
    font-size: 12px;
    font-family: 'Noto Sans KR', serif;
    text-align: center;
}

.loading-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 296.5px;

}
.loading-icons{
    background-color: #EDF5EF;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

}
.loading-icon{
    width: 48px;
    height: 48px;
}
.loading-title{
    color: #2D2D2D;
    font-weight: 700;
    font-size: 24px;
    font-family: 'Noto Sans KR', serif;
    text-align: center;
    margin-bottom: 16px;
}
.loading-subtitle{
    color: #6B6B6B;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Noto Sans KR', serif;
    text-align: center;
}