{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>HERb</title>

  <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/onboarding.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">

  <meta http-equiv="refresh" content="2;url={% url 'accounts:login' %}">
</head>
<body>

  <div class="app-container">

    <main class="app-content">

      <div class="splash-container">
        <div class="splash-logowrap">
          <img src="{% static 'assets/icons/SplashLogo.png' %}" alt="splash-logo">
        </div>
        <h1 class="splash-title">HERb</h1>
        <p class="splash-subtitle">나의 새로운 챕터를 시작하다</p>
      </div>

    </main>

  </div>

  <script src="{% static 'js/common.js' %}"></script>

</body>
</html>